<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Home Page 1</title>
</head>
    <body>
      <h1>Hey how are you : {{pageTitle}}</h1>
      <p>What is wrong </p>

        {{> header}}
      {{> footer}}
    </body>

</html>
